<!DOCTYPE html>
<html>
    <h3>Commande</h3>

    <p>Bravo, votre commande a bien été prise en compte.</p>

    <p>Vous allez recevoir un email de confirmation ainsi que vos billets à l'adresse {{ email }}

    <p>Merci et à bientôt pour votre visite </p>
</html>
